// 清除样式
body, div, ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

html, body, #app, .index, .hello, .navAll {
    height: 100%;
}

// 左侧导航的样式
.el-menu {
    background: #324057;
    border: none;
}

.el-menu-item, .el-menu-item i, .el-submenu__title, .el-submenu__title i {
    color: #bfcbd9;
}

.el-menu-item:hover, .el-submenu__title:hover, .el-menu-item:focus {
    background: #48566A;
}

.leftNav{
    width: 16.6667%;
    min-height: 100%;
    background: #324057;
}
// 右侧导航
.navAll {
    display: flex;
}

.topNav {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 0 20px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topNav ul {
    color: #333;
}
.rightNav ul{
    background: #f5f5f5;
}
.el-menu--popup{
    padding: 0!important;
}
.rightNav ul li{
    color: #909399;
}
.rightNav ul li:hover,.rightNav ul li:focus {
    background: none;
}
.otherDiv{
    padding: 20px;
}
.topLeft{
    display: flex;
    align-items: center;
}
.topLeft button{
    margin-right: 20px;
}
// 登录界面
.login_div h1{
    margin-bottom: 20px;
}
.el-form-item__label,.el-radio__label{
    color: #bfcbd9;
}
// 首页
.mychart{
    width: 100%;
    height: 500px;
}
// 添加普通用户
.addRegularUsers h1{
    margin-bottom: 30px;
    text-align: center;
}